            body, html {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        .container {
            position: fixed;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            background-image: url('layer1.png'); /* 将背景图设置在容器上 */
            background-size: cover; /* 根据需要调整背景大小 */
            /* 其他背景属性 */
        }

        .image-container {
            position: absolute;
            display: none;
            /* 根据需要设置图片位置 */
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            /* 其他图片样式 */
        }

        /* 设置图片的位置 */
        /*直线*/
        .image-container:nth-child(1) {
            right: 0%;
        }

        /*stagelight2嘴唇舞台*/
        .image-container:nth-child(2) {
           bottom: 0%;
           left: 0%;
            
        }

        /*stagelight1火焰舞台*/
        .image-container:nth-child(3) {
            bottom: 0%;
            left: 45%;
        }

        /*signer2剪影歌手*/
        .image-container:nth-child(4) {
            left: 70%;
            z-index: 4;
            bottom: 0;
            transform: scale(1.1);
            
        }

        /*signer1吉他歌手*/
        .image-container:nth-child(5) {
            top: 50%;
            left: 40%;
            
            z-index: 6;
        }

        /*poster3长方形海报*/
        .image-container:nth-child(6) {
            top: 20%;
            left: 40%;
            z-index: 2;
            
            
        }

        /*poster2粉色拼接海报*/
        .image-container:nth-child(7) {
            bottom: 0%;
            left: 22%;
            
            z-index: 3;
        }

        /*poster1白框海报*/
        .image-container:nth-child(8) {
            bottom: 5%;
            left: 40%;
            transform:scale(1.1);
            
        }

        /*LIVE*/
        .image-container:nth-child(9) {
            top: 20%;
            left: 50%;
            
            z-index: 4;
        }

        /*fire*/
        .image-container:nth-child(10) {
            top: 5%;
            left: 0%;
            z-index: 2;
        }

        /*fans*/
        .image-container:nth-child(11) {
            right: 67.5%;
            z-index: 4;
            bottom: 13%;
            
        }    
        

        /*1990*/
        .image-container:nth-child(12) {
            top: 6vh;
            right: 20vh;
            
            z-index: 4;
        }    

        .image-container:nth-child(13) {
            top: 6vh;
            left: 4vh;
            
            z-index: 4;
        }    

        .image-container:nth-child(14) {
            top: 6vh;
            left: 55vh;
            
            z-index: 4;
        }    

        .image-container:nth-child(15) {
            top: 24vh;
            left: 10vh;
            
            z-index: 4;
        }    

        .image-container:nth-child(16) {
            top: 5%;
            left: 5%;
            transform:scale(1.1);
            z-index: 4;
        }    

        
        

        .timer-container {
            position: fixed;
            top: 10px;
            left: 45%;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            z-index: 999;
        }

        .timer {
            font-size: 18px;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }
    
